*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // NOT typography because this is DEFAULT size for our page

  /* root font size  using % of browser default font size(16px default)*/
}
